@page "/"
@using RaftLibrary
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<button @onclick="StartSim">start</button>

@foreach(var node in nodes)
{
    <div>
        @node.Id
    </div>
}


@code {
    List<SimNode> nodes = [];

    void StartSim()
    {
        var node1 = new Node([], 1); //consider initializing with other nodes and the own node id Node([], 1)
        var node2 = new Node([], 2); //consider initializing with other nodes and the own node id
        var node3 = new Node([], 3); //consider initializing with other nodes and the own node id

        var simulation1 = new SimNode(node1);
        var simulation2 = new SimNode(node1);
        var simulation3 = new SimNode(node1);

        node1.OtherNodes = [simulation2, simulation3];
        node2.OtherNodes = [simulation1, simulation3];
        node3.OtherNodes = [simulation1, simulation2];

        nodes = [simulation1, simulation2, simulation3];
        StateHasChanged();
    }
}
