@page "/"
@rendermode InteractiveServer
@using System.Collections.Concurrent
@using RaftLibrary

<div>
  @foreach (var url in urls)
  {
    <div>@url</div>
  }
</div>




@code {
  string[] urls = Environment.GetEnvironmentVariable("NODE_URLS").Split(',');


   
}
