@page "/"
@rendermode InteractiveServer
@using System.Collections.Concurrent
@using RaftLibrary
@inject NodeDataService NodeDataService

@* <div> *@
@*     @foreach (var url in urls) *@
@*     { *@
@*         <div>@url</div> *@
@*     } *@
@* </div> *@

<div>
    @foreach (var url in urls)
    {
        <div>The data for node @url is @nodeDatas</div>
    }
</div>




@code {
    string[] urls = Environment.GetEnvironmentVariable("NODE_URLS").Split(',');

    NodeData nodeDatas;

    protected override async Task OnInitializedAsync()
    {
        nodeDatas = await NodeDataService.GetDataFromApi1();
    }



   
}
