@page "/"
@rendermode InteractiveServer
@using System.Collections.Concurrent
@using RaftLibrary
@inject NodeDataService NodeDataService

@* <div> *@
@*     @foreach (var url in urls) *@
@*     { *@
@*         <div>@url</div> *@
@*     } *@
@* </div> *@

<div>
    <div>The data for node 1 is @nodeData1</div>
    <div>The data for node 2 is @nodeData2</div>
    <div>The data for node 3 is @nodeData3</div>
</div>




@code {
    string[] urls = Environment.GetEnvironmentVariable("NODE_URLS").Split(',');

    NodeData nodeData1;
    NodeData nodeData2;
    NodeData nodeData3;


    protected override async Task OnInitializedAsync()
    {
        nodeData1 = await NodeDataService.GetDataFromApi1();
        nodeData2 = await NodeDataService.GetDataFromApi2();
        nodeData3 = await NodeDataService.GetDataFromApi3();
    }

   



   
}
